<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->

  <!-- /tf remapper nodes -->
  <node pkg="tf_remapper_cpp" type="tf_remap" name="remapper_0">
    <rosparam param="old_tf_topic_name">na0/tf </rosparam>
  </node>

  <node pkg="tf_remapper_cpp" type="tf_remap" name="remapper_1">
    <rosparam param="old_tf_topic_name">na1/tf </rosparam>
  </node>

  <!-- Rviz visualization config file path -->
  <arg name="rviz_config_file" value="$(find segmapper)/launch/kitti/kitti_loop_closure_multi_a.rviz"/>

  <!-- ROS parameters -->
  <rosparam command="load" file="$(find segmapper)/launch/kitti/campus_loop_closure_remote.yaml"/>

  <!-- rviz node -->
  <node name="segmap_visualizer" pkg="rviz" type="rviz" output="screen" respawn="$(arg respawn_value)" args="-d $(arg rviz_config_file)" />

  <!-- segmapper node -->
  <include file="$(find segmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find segmapper)/launch/kitti/icp_dynamic_outdoor_remote.yaml"/>
    <arg name="icp_input_filters_file" value="$(find segmapper)/launch/kitti/input_filters_outdoor_remote.yaml"/>
  </include>



</launch>
